# Server & Database Configuration
PORT = 8080
DB_HOST = ""
DB_PORT = ""
DB_USER = ""
DB_PASSWORD = ""
DB_NAME = ""
DB_SSLMODE = disable
GIN_MODE=release

JWT_SECRET = ""

# External AI Microservice & Gemini Configuration
AI_SERVICE_URL = "https://ecoplan-ai-service-contoh.com"
API_KEY_GEMINI = ""

# Midtrans Configuration
MIDTRANS_ID = ""
MIDTRANS_SERVER_KEY=""
MIDTRANS_CLIENT_KEY=""
MIDTRANS_IS_PRODUCTION=false

# RajaOngkir Configuration (Menggunakan API Key Shipping Cost)
RAJAONGKIR_API_KEY=""